<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/smart.css}" href="../static/css/smart.css" rel="stylesheet">
    <link th:href="@{/css/materialize/materialize.css}" type="text/css" rel="stylesheet"
          href="../static/css/materialize/materialize.css" media="screen,projection"/>
    <link th:href="@{/css/fullpage/jquery.fullpage.min.css}" href="../static/css/fullpage/jquery.fullpage.min.css"
          rel="stylesheet"/>
</head>
<body>

<nav class="nav-extended black padding-left-10">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo" style="margin-left: 20px">智慧工地数据中转平台</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#!"><i class="material-icons" onclick="window.location.reload()">refresh</i></a></li>
            <li><a href="#setting" class="modal-trigger"><i class="material-icons">settings</i></a></li>
            <li><a href="#more" class="modal-trigger"><i class="material-icons">more_vert</i></a></li>
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li id="1st" class="tab"><a class="active">环境监测</a></li>
            <li id="2nd" class="tab"><a>施工升降机</a></li>
            <li id="3rd" class="tab"><a>视频监控</a></li>
            <li id="4th" class="tab"><a>实名制考勤</a></li>
        </ul>
    </div>
</nav>

<div id="fullpage">
    <div class="section" id="section1">
        <!-- *^_^*------环境监测------*^_^* -->
        <div id="env" class="slide active">
            <div class="sm-width-100-per sm-height-100-per sm-center">
                <div class="sm-width-30-per sm-height-100-per sm-padding-left-1rem">

                    <ul class="collapsible white" data-collapsible="accordion">
                        <li class="collection-header sm-padding-left-1rem" style="border-bottom: 1px solid #ddd">
                            <h4>环境监测数据</h4>
                        </li>

                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">wb_sunny</i>
                                气温
                                <span class="badge">{{ temperature }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">beach_access</i>
                                湿度
                                <span class="badge">{{ humidity }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">toys</i>
                                风速
                                <span class="badge">{{ windSpeed }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">golf_course</i>
                                风向
                                <span class="badge">{{ windDirection }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">smoke_free</i>
                                pm10
                                <span class="badge">{{ pm10 }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">smoking_rooms</i>
                                pm2.5
                                <span class="badge">{{ pm2p5 }}</span>
                            </div>
                        </li>
                        <li class=" sm-margin-left-1rem ">
                            <div class="collapsible-header">
                                <i class="material-icons">headset</i>
                                噪声
                                <span class="badge">{{ noise }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sm-width-45-per sm-height-100-per sm-padding-left-1rem sm-padding-right-1rem">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <div id="envValueCharts" style="width: 100%;height:45%;"></div>
                    <!--<div id="envWindDirectionCharts" style="width: 40%;height:40%;"></div>-->
                </div>
                <div class="sm-width-25-per sm-height-100-per sm-padding-left-1rem sm-padding-right-1rem">
                    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                    <!--<div id="envValueCharts" style="width: 100%;height:45%;"></div>-->
                    <div id="envWindDirectionCharts" style="width: 100%;height:45%;"></div>
                </div>
            </div>
        </div>
        <!-- *^_^*------施工升降机------*^_^* -->
        <div class="slide"><h1>施工升降机</h1></div>
        <!-- *^_^*------视频监控------*^_^* -->
        <div class="slide"><h1>视频监控</h1></div>
        <!-- *^_^*------实名制考勤------*^_^* -->
        <div class="slide">
            <div class="row" style="margin-top: -31rem;">
                <!-- 上传考勤数据 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">上传考勤数据</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action sm-center">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                            <div class="preloader-wrapper small active sm-margin-left-1rem">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 下载员工基础数据 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">下载员工基础数据</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
                <!-- 更新员工信息 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">更新员工信息</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
                <!-- 任务处理反馈 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">任务处理反馈</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
                <!-- 初始化指纹信息 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">初始化指纹信息</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
                <!-- 设置工地名称 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">设置工地名称</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
                <!-- 同步服务器时间 -->
                <div class="col s12 m3">
                    <div class="card white">
                        <div class="card-content black-text">
                            <span class="card-title">同步服务器时间</span>
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn"><i class="material-icons left">check</i>提交</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="setting" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>传输控制</h4>
        <p>修改相应参数，点击确定生效</p>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">trending_up
                        </i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">数据上传频率(min)</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">确定</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">取消</a>
    </div>
</div>

<!-- Modal Structure -->
<div id="more" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>友情链接</h4>
        <div class="chip">
            <a href="http://www.ccc.gov.cn/" target="_blank">重庆市城乡建设委员会</a>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
    </div>
</div>
</body>
<script th:src="@{/js/jquery-3.2.1.min.js}" src="../static/js/jquery-3.2.1.min.js"></script>
<script th:src="@{/js/materialize/materialize.min.js}" src="../static/js/materialize/materialize.min.js"></script>
<script th:src="@{/js/fullpage/jquery.fullpage.min.js}" src="../static/js/fullpage/jquery.fullpage.min.js"></script>
<script th:src="@{/js/vue/vue.js}" src="../static/js/vue/vue.js"></script>
<script th:src="@{/js/echarts/echarts.js}" src="../static/js/echarts/echarts.js"></script>
<script th:src="@{/js/index.js}" src="../static/js/index.js"></script>
<script type="text/javascript">

</script>
</html>